source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Giraffe
nuget JUnitTestLogger
nuget Microsoft.AspNetCore
nuget Microsoft.NET.Test.Sdk 16.0.1
nuget prometheus-net.AspNetCore
nuget Serilog.AspNetCore
nuget xunit 2.4.0
nuget xunit.runner.visualstudio 2.4.0